.game-board {
  display: grid;
  gap: 5px;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(6, 1 fr);
}

.col-heading {
  grid-row: 1;
}

.row-heading {
  grid-column: 1;
}

.label {
  font-size: 30px;
}

.word {
  font-size: 20px;
}

.answer {
  border: solid thin black;
}

.answer.right {
  background: green;
}

.card {
  font-size: 50px;
}
